/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  /* overflow-x: hidden; */
}

body.body-no-scroll {
  /* overflow: hidden; */
}




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.container{
  max-width: 1410px;
  margin: 0 auto;
  padding: 0px 15px;
}
.two-part{
  display: flex;
  justify-content: space-between;
}

.part-item{
  width: 45%;
}
.three-part{
  display: flex;
  justify-content: space-between;
}

.three-item {
  width: 30%;
}

.header{
  display: flex;
  padding: 10px 0px ;
}

.logo{
  width: 140px;
  height: 114px;
  margin-left: 178px;
  margin-top: 50px;
}

.menu-trigger{
  background-color: #fff;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 30px;  
  z-index: 999;
  cursor: pointer;
  transition: all ease 0.3s;
}

.menu-trigger svg{
  width: 34px;
  height: 24px;
  cursor: pointer;
}


.menu-trigger:hover  svg  path {
  fill: #89744F;
  opacity: 1;
}
.trigger-phone-block{
 cursor: pointer
}

.main-contact-block{
  list-style: none;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contact-block .contact-item{
  margin-bottom: 75px;
  transition: all ease 0.3s;
}
.contact-item svg{
  /* margin-bottom: 75px; */
  transition: all ease 0.3s;
}

.contact-item:hover svg {
  transform: translateY(-5px);
}

.hidden-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

h1.hidden-element{
  opacity: 0;
  transform: rotate(180deg) translateY(-50px);
}

h1.show{
  opacity: 1;
  transform: rotate(180deg) translateY(0px);
}

/* Клас, що додається при скролі */
.show {
  opacity: 1;
  transform: translateY(0);
}





.h1 {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: rotate(180deg);
  position: absolute;
  writing-mode: vertical-lr;
  right: 300px;
  bottom: 80px;
  color: #fff;
  font-size: 178px;
  text-transform: uppercase;
  line-height: 85%;
}

.h1 span{
  display: block;
  font-size: 94px;
}

.main-screen{
  background-image: url(../img/main-bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 920px;
  margin-bottom: 136px;
}
html, body {
  /* height: 100%;
  box-sizing: border-box; */
}

.layout{
  position: fixed;
  top: 0px;
  left: 0px;
  /* background-color: rgba(250, 250, 250 , 0.3); */
  width: 100%;
  height: 100%;
  min-height: 100%;
  pointer-events: none;
  transition: all ease 0.7s;
  z-index: 9;

  /* background-color: red; */
  display: block;

}

.layout.active{
  background-color: rgba(250, 250, 250 , 0.5);
  /* background-color: red; */
  pointer-events: auto;

}

/* The side navigation menu */
.sidenav, .phones-sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  z-index: 999999;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
 /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav.open{
  width: 830px;
}

.phones-sidenav.open{
  width: 100%;
}


/* The navigation menu links */
.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  display: block;

  transition: all ease 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #89744F;
 

}

/* Position and style the close button (top right corner) */
.sidenav .closebutton ,  .phones-sidenav .close-phones{
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  padding: 20px 30px;
}
.sidenav .closebutton img, .phones-sidenav .close-phones img{
  width: 33px;
  height: 33px;
  cursor: pointer;
}
.sidenav .closebutton:hover ,  .phones-sidenav .close-phones:hover{
  opacity: 0.6;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}


.menu{
  list-style: none;
  padding-top: 140px;
  margin: 0 auto;  
  padding-left: 0px;
  margin-bottom: 60px;
}

.menu-link{
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  font-size: 27px;
}

.line{
  background-color: #F8F2E9;
  padding: 39px 0;
  margin-bottom: 60px;
}

.socials{
    display: flex;
    justify-content: space-between;
    max-width: 180px;
    align-items: center;
    margin: 0 auto;
}

.menu-soc-img{
    max-width: 25px;
    cursor: pointer;

  }
  
  .phones-section{
    list-style: none;
    padding-left: 0px;
}

.menu-soc-img:hover svg path{
  transition: all ease 0.3s;
}

.menu-soc-img:hover svg path {
  fill: #89744F;
}

.phone-item{
  margin-bottom: 20px;
  font-size: 28px;
  color: #000;
  text-align: center;
}

.phones-sidenav{
  display: flex;
  align-items: center;
}

.phones-block{
  width: 600px ;
  margin: 0 auto;
}
.big-phones{
  font-size: 64px;
  color: #000;
  font-weight: 400;
  margin-bottom: 75px;
  text-align: center;
  text-decoration: none;
  transition: all ease 0.3s;
  display: block;

}
.big-phones:hover{
  color: #89744F;
}


.about-section .about-img-wrap{
    max-width: 555px;
    position: relative;
    margin-bottom: 119px;
}

.about-section .about-img-wrap .render{
    width: 100%;
}

.about-section .about-img-wrap .uk_fr_flags{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 232px;

}

.about-section .two-part{
    /* margin-bottom: 104px; */
}

.about-section .wrap-texts .h2{
  color: #89744F;
  font-size: 36px;
  margin-bottom: 74px;
  font-family: "Libre Bodoni", serif; 
  position: relative;
  padding-left: 80px;;
   
}

.about-section .wrap-texts .h2:before{
  content: "";
  background-image: url(../img/decor3.png);
  width: 77px ;
  height: 58px;
  background-size: cover;
  position: absolute;
  left: -20px;
  top: -5px;
}
.about-section .accent-text{
  max-width: 579px;
  line-height: 200%;
  font-size: 24px;
  font-weight: 500;
  color: #000;

}
.about-section .three-part{
  margin-bottom: 119px;
  
}

.item-decors{
  display: flex;
  align-items: baseline;
}

.norm-text{
    margin: 0px;
    font-size: 18px;
    line-height: 200%;
    font-weight: 400;
    color: #000;
}
.deco-img{
  width: 20px;
  height: 17px;
  margin-right: 26px;
}


.parallax-block {
  /* The image used */
  background-image: url(../img/parallax.jpg);

  /* Set a specific height */
  min-height: 480px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 98px;
}

.ecsclisice-parallax, .ecsclisice-parallax2{
  background-image: url(../img/large-parallax.jpg);
  min-height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 98px;
}
.ecsclisice-parallax2{
  background-image: url(../img/paralax2.jpg);
}

.h2-center, .h2-left{
  font-size: 36px;
  color: #89744F;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-bottom: 114px;
}

.h2-center:after{
  content: "";
  width: 40px;
  height: 2px;
  background-image: url(../img/uk_flag.svg);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.h2-left{
  text-align: left;
  font-weight: 400;
}
.h2-left:after{
  content: "";
  width: 40px;
  height: 2px;
  background-image: url(../img/uk_flag.svg);
  position: absolute;
  bottom: -20px;
  left: 0%;
}



.quality-section{
    margin-bottom: 126px ;
}
.quality-header{
  font-weight: 500;
  color: #89744F;
  font-size: 22px;
  margin-bottom: 23px;
  margin: 0px 0px 23px 0px;

}

.item-icons{
  display: flex;
  justify-content: flex-start;
}

.quality-section .icon-img  {
  width: 69px;
  height: 69px;  
  margin-right: 25px;
}
.quality-section{
  
}
.quality-section{
  
}
.quality-section{
  
}
.quality-section{
  
}

.not-parallax-section{
  background-image: url(../img/2-pics.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-bottom: 75px;

}

.list-of_pluses{
  list-style: none;
  padding-left: 0px;

}
.list-of_pluses li{
  background-image: url(../img/decor1.png);
  background-repeat: no-repeat;
  background-position: 0px 10px;
  background-size: 20px;
  margin-bottom: 25px;
}

.list-of_pluses p{
  padding-left: 35px
}
.norm-text span.bold{
  font-weight: 600;
}

.quality-second{
  margin-bottom: 97px;
}

.only-mob{
  display: none;
}
.mob-image{
  width: 100%;
  margin-bottom: 70px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  width: 80% ;
  padding-left: 50px;
  padding-top: 12px;
}

.tab.tab2{
  width: 60%;
}

.tab.tab2 .tab-name:after {
  content: "";
  background-image: url(../img/arrow.svg);
  width: 17px;
  height: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 77px;
  top: 14px;
}

.tablinks, .tablinks2{
  text-align: left;
  min-width: 33%;
  opacity: 0.6;
  font-family: "Montserrat", sans-serif;
}

.numero{
  font-size: 16px;
  margin-top: 5px;

}
.tab-name{
  font-size: 25px;
  position: relative;
  margin: 0px;
}

.tab-name:after{
  content: "";
  background-image: url('../img/arrow.svg');
  width: 17px;
  height: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 100px;
  top:15px
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover , .tab .tablinks2:hover{
  color: #000;
  opacity: 1;
}

/* Create an active/current tablink class */
.tab .tablinks.active, .tab .tablinks2.active  {
  color: #000;
  opacity: 1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
}

.wrap-illustrate{
  max-width: 670px;
}
.wrap-illustrate img{
  width: 100%;
}


.tabs-section{
  margin-top: -200px;
}

.tab-content-wrap{
  padding-top: 100px;
  margin-bottom: 100px;
}

.tabcontent{
  display: flex;
}
.content-tab{
  display: flex;
}

.tab-content-wrap .h2{
  font-size: 30px;
  margin-bottom: 63px ;
  color: #89744F;
  font-weight: 400;
  text-transform: uppercase;
  
}
.design-tab {
  align-items: center;
}
.wrap-design{
  max-width: 700px;
  position: relative;
}
.wrap-design img{
  float: right;
  width: 100%;
}

.tabcontent2 .wrap-illustrate .roomimg{
  width: 800px;
  margin-left: 50px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.wrap-all-nomero{
  position: relative;
}

.wrap-all-nomero{
  max-width: 100%;
  height: 683px ;
  background-image: url(../img/numero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: relative;
  transition: all ease 0.3s;;
}

.numero-section{
  padding-top: 50px;
  margin-bottom: 150px;
}

.wrap-all-nomero .parking:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;;
}

.wrap-all-nomero .section1{
  transition: all ease 0.3s;
}
.wrap-all-nomero .section1:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;;
}
.wrap-all-nomero .section2:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;;
}
.wrap-all-nomero .section3:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;;
}

/* .wrap-all-nomero .lightboxed{
  width: 50px;
  height: 50px;
} */
.parking{
  position: absolute;
  bottom: 20%;
  left: 10%;
  cursor: pointer;
  background-image: url(../img/P.svg);
  background-size: cover; 
  transition: all ease 0.3s; 
  background-size: 50px 50px;
  width: 50px ;
  height: 50px;;
  background-repeat: no-repeat;
}

.section1{

  position: absolute;
  bottom: 18%;
  left: 13%;
  cursor: pointer;
  background-image: url(../img/sec1.svg);
  background-size: cover;
  width: 40%;
  height: 71%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 10% 90%;
  
  transition: all ease 0.3s;
}



.wrap-all-nomero:has(.section1:hover) {
  background-image: url(../img/render-min-section1.jpg);
}

.section2{

  position: absolute;

  bottom: 28%;
  left: 52%;
  cursor: pointer;
  width: 26%;
  height: 52%;
  background-image: url(../img/sec2.svg);

  transition: all ease 0.3s;  
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 10% 90%;
}

.wrap-all-nomero:has(.section2:hover) {
  background-image: url(../img/render-min-section2.jpg);
}


.section3{
  /* border: 2px solid red; */
  position: absolute;
  bottom: 39%;
  left: 78%;

  width: 14%;
  height: 35%;
  cursor: pointer;
  transition: all ease 0.3s; 
  background-image: url(../img/sec3.svg);

 
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 10% 90%;
}

.wrap-all-nomero:has(.section3:hover) {
  background-image: url(../img/render-min-section3.jpg);
}


.three-section{
  margin-bottom: 100px;;
}



 /* form-block */

 .container-f {
  display: flex;
  justify-content: space-between;
  /* padding: 50px; */
  position: relative;
}

.left-side {
  position: relative;
  width: 50%;
}

.right-side {
  width: 50%;
  position: relative;
  padding-left: 140px; /* Відступ між картинкою та формою */
}

.main-image {
  width: auto
}

.wrap-left-img{
  max-width: 954px;
  overflow: hidden;
  height: 929px;
  object-fit: cover;
  background-image: url(../img/form-picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.overlay {
  position: absolute;
  bottom: 162px;
  right: 0;
  background: white;
  padding: 18px 58px 16px 66px;
}

.overlay-title {
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

.overlay-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin: 0px 0px 20px 0px;
}

.maps-section{
  position: relative;
}

.text-map-part{
  max-width: 400px ;
  padding-bottom: 100px;
  height: 690px ;
}
.text-map-part .overlay{
  bottom: 203px;
  z-index: 999;
  padding: 23px 58px 17px 66px;
  right: 567px;

}


.text-map-part .norm-text{
  margin-bottom: 90px;
}



.line-with-btn{
  position: absolute;
  bottom: 203px;
  left: 0px;
  background-color: #F8F2E9;
  width: 100%;
  padding: 50px 0px 50px 13%;
  transition: all ese 0.3s;
}

.line-with-btn:hover{
  background-color: #f0c079;
}


.submit-btn-map {
  font-size: 22px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: all ease 0.3s;
  font-family: "Montserrat", sans-serif;
}

.map-wrap{
  position: absolute;
  right: -17px;
  top: 0px;
  height:760px;
  width: 1000px;
}


#map {
 width: 100%;
 height: 700px;
 /* position: relative; */
}
.line-pick{
  position: absolute;
  right:0px;
  top:2px;
  width: 491px ;
  height: 101px;
  background-image: url(../img/white-line.svg);
}

.line-map{
  
}


.arrow {
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.line-with-btn:hover  .arrow {
  margin-left: 16px;
}

.big-size-text{
  font-size: 55px;
  font-weight: 700;
  color: #89744F;
  text-align: center;
  opacity: 0.1;
  text-transform: uppercase;
  padding: 30px 0px;
}


form {
  margin-top: 20px;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

input {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: calc(100% - 147px);
  margin: 9px 0;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-weight: normal;
  line-height: 200%;
  color: #BFB2B2;
  background-color: transparent;
}

input::placeholder{
  font-family: "Montserrat", sans-serif;
}

input:focus {
  color: black;
  outline: none;
}

input:focus {
  color: #000;
  border-bottom-color: #81c825;
  outline: none;
}

.group-input{
  margin-bottom: 59px;
}
.checkbox, .checkbox2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;;
}

.checkbox input[type="checkbox"], .checkbox2 input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox label, .checkbox2 label {
  display: block;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}

.checkbox label:before, .checkbox2 label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 10px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Іконка галочки */
.checkbox input[type="checkbox"]:checked + label:before,
.checkbox2 input[type="checkbox"]:checked + label:before {
  background-image: url('../img/check.svg'); /* Вкажи шлях до своєї картинки галочки */
  background-color: #fff;
  border-color: #fff;
}

/* Текст посилання в чекбоксі */
.checkbox label a, .checkbox2 label a  {
  text-decoration: underline;
  color: black;
}

.checkbox small, .checkbox2 small{
  position: absolute;
  bottom: -25px;
}

/* Помилки валідації */
.checkbox .error, .checkbox2 .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block; /* Щоб показати помилку під чекбоксом */
}

.checkbox input[type="checkbox"].error + label:before,
.checkbox2 input[type="checkbox"].error + label:before {
  border-color: red;
}

/* Коли все в порядку, прибираємо червону рамку */
.checkbox input[type="checkbox"]:checked + label:before,
.checkbox2 input[type="checkbox"]:checked + label:before {
  border-color: black;
}

.submit-btn {
  background-color: #F8F2E9;
  font-family: "Montserrat", sans-serif;
  border: none;
  font-size: 22px;
  padding: 44px 20px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 165px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  padding-left: 140px;
  font-weight: 600;
  transition: all ease 0.3s;
}

.arrow {
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.submit-btn:hover{
  background-color: #f0c079;
}

.submit-btn.active{
  background-color: #f0c079;
}


.submit-btn:hover .arrow {
  margin-left: 16px;
}

/* Попап */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення фону */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Вперед всіх елементів */
}

.popup-content {
  background: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 25px;
}
.popup-text{
  padding-top: 50px;
  max-width: 80%;
  margin: 0 auto 50px;
}

.popup .close img{
  width: 100%;
}

.hidden {
  display: none;
}

.contacts-form2{
  position: relative;
  height: 533px;
  padding-top: 20px
}
.contacts-form2 .h2-left{
  margin-bottom: 54px;

}
.contacts-form2 .group-input {
  margin-bottom: 45px;
}
.contacts-form2 .submit-btn{
  bottom: -150px;
  background-color: transparent;
  padding: 20px 0px;
  border: 1px solid #000;
  text-align: center;
  transition: all ease 0.3s;
  font-family: "Montserrat", sans-serif;
}
.contacts-form2 .submit-btn:hover{
  border: 1px solid #000;
  background-color: #000;
  color: #fff
}


/* Адаптивність */
@media (max-width: 960px) {
  .container-f {
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    width: 100%;
    margin-bottom: 20px;
  }

  .right-side {
    width: 100%;
  }
  .overlay{
    width: 100%;
    padding: 18px 0 16px 74px;
  }
  .overlay-title, .overlay-subtitle{
    padding-left: 30px;

  }
  .wrap-left-img {
    max-width: 100%;
    background-size: cover;
    max-height: 500px;
    background-attachment: fixed;
  }
  .right-side {
      position: relative;
      padding-left: 0px;
      padding-bottom: 100px;
      margin-bottom: 70px;
    }
    .submit-btn{
      bottom: 0px;
    }
    .submit-btn {
      padding-left: 74px;
    }
    #application-form{
      padding-left: 30px;;
    }
    .h2-left{
      text-align: center;
      font-size: 26px;
      margin-bottom: 45px;
    }
    .h2-left:after {
      left: 50%;
      transform: translateX(-50%);
    }
    .label{
      font-size: 14px;
    }
    input{
      font-size: 16px;;
    }
    .data-agreement{
      font-size: 16px;
    }
    .data-agreement a{
      display: inline;

    }
    .checkbox label, .checkbox2 label{

      display: inline;
      padding-left: 35px;
    }
    .checkbox label:before, .checkbox2 label:before{
      position: absolute;
      left: 0px;
      top:5px
    }
    .tab.tab2 .tab-name:after{
      right: 56px;
      top: 9px;
    }
}

/* Помилки валідації */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

input.error {
  border-bottom: 2px solid red;
}

.checkbox input.error {
  border: 2px solid red;
}


.application-form2 input[type="text"]{
  background-color: transparent;

}

.contacts-block{
  background-color: #f9f9f9;
  padding-bottom: 30px;
  /* background-color: ; */

}

.contacts-block  .h2-left {
    text-align: left;
    font-weight: 400;
    margin-bottom: 73px;

}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.contacts-info, .contacts-form {
  width: 40%;
  padding: 20px;
 
}

.contact-details {
  display: flex;
  justify-content: space-between;
}

.contact-column {
  width: 45%;
}

.contact-column h3 {
  color: #333;
  margin-bottom: 10px;
}

.contact-column p {
  margin-bottom: 20px;
  color: #666;
}

.social-icons a {
  margin-right: 15px;
  text-decoration: none;
  transition: all ease 0.3s
}

.social-icons a:hover svg path {
  fill: #89744F
}


.social-icons img {
  width: 25px;
  height: 25px;
}

.wrap-part-contacts{
  margin-bottom: 50px;
}

.contacts-link{
  text-decoration: none;
  color: #000;
  transition: all ease 0.3;
}

.contacts-link:hover{
  text-decoration: none;
  color: #89744F;
}


.social-icons a{
  margin-right: 30px;
}
.wrap-part-contacts.webs{
  margin-bottom: 70px;
}

.cont-phones{
  font-size: 24px;
  transition: all ease 0.3s;
  text-decoration: none;
  color: #000;
  display: block;  
  margin: 20px 0px 10px
}
.cont-phones:hover{
  color: #89744F;
}


.wrap-copy-info{
  display: flex;
  padding: 30px 0px;
  align-items: center;
  justify-content: space-around;
}
.it{
  width: 33%;
  align-self: center;
  font-size: 14px;
}

.copt-t{
  font-size: 14px;
}

.mart{
  transition: all ease 0.3s;;
  color: #000;

}
.mart:hover{
  color: #89744F
}


@media (max-width: 768px) {
  .contacts-info, .contacts-form {
      width: 100%;
  }
  
  .contacts-wrapper {
      padding: 20px;
  }

  .contact-details {
      flex-direction: column;
  }

  .contact-column {
      width: 100%;
      margin-bottom: 20px;
  }
  .contacts-form2 {

    height: 495px;
  }
}

@media screen and (max-width: 1800px){
  .h1 {
    right: 6%;
  }
  .h1 {
    font-size: 120px;
  }
  .line-with-btn{
    padding-left: 8%
  }
  .map-wrap {
    width: 812px;
  }
  .text-map-part .overlay{
    right: 380px;

  }
  .text-map-part{
    padding-left: 30px;
  }
  .tab.tab2 {
    width: 75%;
  }
}


@media screen and (max-width: 1400px){
  .tab-name{
    font-size: 22px;
    max-width: 228px;
  }
  .tab-name:after {
    right: 25px;
    top: 12px;
  }
  .tabcontent2 .wrap-illustrate .roomimg {
    width: 600px;
  }
  .wrap-design {
    max-width: 500px;
  }
  .big-size-text {
    font-size: 36px;
  }
  .map-wrap {
    width: 612px;
  }
  .text-map-part .overlay {
    right: 180px;
  }
  .tab.tab2 {
    width: 85%;
  }
  .tab.tab2 .tab-name:after{
    right: 6px;
  }
  .contacts-info, .contacts-form {
    width: 46%;
  }
}

@media screen and (max-width: 1200px){

  .quality-section{
    margin-bottom: 50px;
  }
  .quality-section .three-part{
    flex-direction: column;
  }
  .quality-section .three-part .three-item{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .mob-image{
    margin-bottom: 60px;
  }
  .tab-content-wrap {
    padding-top: 60px;
    margin-bottom: 20px;
  }
  .numero-section{
    margin-bottom: 70px;
  }
  .tabs-section {
    margin-top: -228px;
  }
  .big-phones {
    font-size: 42px;
    color: #000;
    font-weight: 400;
    margin-bottom: 12px;
  }

}


@media screen and (max-width: 1024px){
    .about-section .two-part{
      flex-direction: column-reverse;
      margin: 0 auto 54px;
      justify-content: center;
      align-items: center;

    }
    .about-section .part-item {
      width: 90%;
      margin: 0 auto;
      align-items: center;
      display: flex;
    }
    .about-section .wrap-texts .h2 {
      margin-left: 88px;
      margin-bottom: 34px;
    }
    .about-section .wrap-texts{
      margin: 0 auto 30px;
    }
    .about-section .about-img-wrap{
      margin: 0 auto 30px;
    }
    .about-section{

    }
    .parallax-block{
      min-height: 298px ;
      background-position: 90%;
    }
    .quality-section .three-part .three-item {
      width: 100%;
    }

    .quality-second .three-part{
      flex-direction: column;
    }
    .quality-second .three-item {
      width: 600px;
      margin: 0 auto;
    }
    .tabs-section .two-part{
      flex-direction: column;
    }
    .tabs-section .part-item {
      width: 100%;
      margin: 0 auto;
    }
    .tabs-section .wrap-illustrate{
      order: 1;
    }

    .tabs-section .texts-part .h2 {
      font-size: 30px;
      margin-bottom: 33px;
      margin-top: 0px;
    }

    .tabs-section .list-of_pluses{
      margin-bottom: 40px;
    }

    .tabs-section .norm-text{
      margin-bottom: 30px;
    }
    .tabs-section .tabcontent2 .design-tab .wrap-illustrate{
      order: 0;
      margin-bottom: 40px;
      width: 100%;
    }
    .tabcontent2 .wrap-illustrate .roomimg {
      width: 100%;
      margin-left: 0px;;
    }
    .wrap-all-nomero {
      max-width: 100%;
      height: 583px;
    }
    .not-parallax-section{
      display: none;
    }
    .only-mob{
      display: block;
    }
    .tabs-section{
      margin-bottom: 50px;;
    }
    .map-wrap{
      position: relative;
      width: 100%;
    }
    .text-map-part {
      max-width: 100%;
      padding-bottom: 100px;
      height: auto;
  }
  .line-with-btn {
    position: absolute;
    bottom: auto;
    left: 0px;
  }
  .text-map-part .h2-left {
    font-size: 26px;
    margin-bottom: 44px;
  }
  .text-map-part .norm-text {
    margin-bottom: 40px;
  }
  .map-wrap {
    right: 0;
    left: 0px;
    top:-8px;
    margin-bottom: 30px;
  }
  .text-map-part .overlay {
    right: auto;
    left: 0px;
    width: 100%;
    bottom: 0px;
  }
  .right-side {

    margin-bottom: 30px;
  }

  .text-map-part .overlay{
    padding: 23px 0px 17px 0px;
  }
  .line-with-btn {
    padding: 25px 0px 25px 40px;
    right: 0;
    width: 100%;
  }
  .line-with-btn a{
    padding-left: 30px;
  }
  .contacts-info, .contacts-form {
    width: 100%;
  }
  .cont-phones {
    font-size: 18px;
  }
}

@media screen and (max-width: 960px){
  .sidenav.open {
    width: 600px;
  }
  .h1{
    font-size: 120px;
  }
  .h1 span{
    font-size: 60px;
  }
  .logo {
    width: 117px;
    height: 63px;
    margin-left: 97px;
    margin-top: 30px;
    margin-bottom: 56px;
  }
  .logo img{
    width: 100%;
  }
  .main-screen{    
    min-height: 100vh;
  }
  .main-screen{
    margin-bottom: 88px;    
  }
  .about-section .wrap-texts .h2 {
    margin-left: 72px;
    margin-bottom: 32px;
    font-size: 28px;
  }
  .about-section .wrap-texts .h2:before { 
    width: 50px;
    height: 42px;   
    /* left: -77px; */
    top: -1px;
  }
  .about-section .accent-text{
    font-size: 18px;
  }
  .about-section .about-img-wrap .uk_fr_flags{
    left: 0px;
    right: auto;
    width: 137px;
    height: 42px;
    bottom: -1px
  }
  .about-section .three-part {
    margin-bottom: 119px;
    flex-direction: column;
    align-items: center;
  }
  .about-section .three-item {
    width: 400px;
    margin-bottom: 35px;
  }
  .quality-second .three-item {
    width: 100%;
    margin: 0 auto;
  }
  .list-of_pluses{
    margin-bottom: 0px;
  }

  .norm-text{
    font-size: 16px;
  }
  .tab{
    flex-direction: column;
    padding-left: 15px;;
  }
  .tab-name {
    font-size: 22px;
    max-width: 300px;
  }
  .h2-center {
    font-size: 23px;
    margin-bottom: 50px;
  }
  .numero-section {
    padding-top: 50px;
  }
  .submit-btn{
    padding: 25px 20px
  }
  .tabs-section {
    margin-top: -353px;
  }
  .wrap-copy-info{
    flex-direction: column;
    align-items: center;
  }
  .it{
    width: 100%;
    text-align: center;
  }
  .copt-t.mart-b{
    text-align: center;
  }
  .logot{
    margin: 15px 0px;
  }
  .submit-btn,
  .submit-btn-map {
    font-size: 16px;
    padding-left: 0;
    text-align: center;
  }
}

.logot{
  align-self: center;
}
.logot img{
  width: 100px;
  display: block;
  margin: 0 auto;
}

.mart-b{
  align-self: end;
  text-align: right;
}

@media screen and (max-width: 760px){

  .h1 {
    font-size: 98px;
  }
  .tabs-section .texts-part .h2 {
    font-size: 26px;

  }
  .sidenav.open {
    width: 100%;
  }
  .sidenav a{
    font-size: 16px;
    margin-bottom: 20px ;
  }
  .menu {
    padding-top: 80px;
  }
  .sidenav .closebutton img {
    width: 23px;
    height: 23px;
  }
  .logo {
    width: 90px;
    height: 73px;
    margin-left: 28px;
    margin-top: 37px;
    margin-bottom: 20px;
  }
  .h1 span {
    font-size: 40px;
  }
  .contact-item {
    margin-bottom: 48px;
  }
  .contact-item a {
    display: block;
    /* width: 35px; */
    max-width: 35px;
    height: 20px;

  }
  .contact-item a img {
    width: 100%;
  }

 .big-phones {
    font-size: 33px;   
    margin-bottom: 20px;
 }
 .about-section .three-item {
  width: 300px;
  margin-bottom: 35px;
  }
  .mob-image {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .list-of_pluses{
    margin-top: 0px;
  }
  .list-of_pluses li{
    margin-bottom: 10px;
  }
  .tabs-section {
    margin-top: -297px;
  }
  .numero{
    font-size: 10px;
  }
  .tab-name {
    font-size: 17px;
  }
  .tab button {
    padding: 5px 15px 16px;
  }
  .tabs-section .norm-text{
    margin-bottom: 23px;
  }
  .wrap-all-nomero {
    max-width: 100%;
    height: 304px;
  }
  .parking {

    left: 4%;
  }
  .section1, .section2, .section3, .parking{
    background-size: 35px 35px;
  }
  input{
    width: 90%;
  }
  .about-section .three-part {
    margin-bottom: 30px;
  }
  .parallax-block{
    margin-bottom: 50px;
  }
  .quality-second{
    margin-bottom: 50px;;
  }
  .tab-content-wrap {
    padding-top: 30px;
  }
  .tabcontent{
    padding-left: 0px;
  }
  .numero-section{
    padding-top: 0px;
  }
  .three-section{
    margin-bottom: 50px;
    padding-top: 10px;
  }
  .map-wrap , #map{
    height: 500px;;
  }
  .about-section .three-item{
    width: 100%;
  }
  .contacts-block .container{
    padding-bottom: 80px;

  }
}


@media screen and (max-width: 390px){
  .big-phones {
    font-size: 24px;   
    margin-bottom: 20px;
 }
 .about-section .three-item {
  width: 280px;
  margin-bottom: 30px;
  }
  .deco-img {

    margin-right: 14px;
  }
  .about-section .wrap-texts .h2 {
    margin-left: 72px;
    margin-bottom: 32px;
    font-size: 22px;
  }
  .about-section .wrap-texts .h2:before {
    width: 40px;
    height: 32px;
    /* left: -75px; */
    top: -1px;
  }
  .tab-name:after {
    right: 25px;
    top: 8px;
  }
  .tab-name {
    font-size: 15px;
  }
  .wrap-all-nomero {
    max-width: 100%;
    height: 250px;
  }
  .about-section .three-item{
    width: 100%;
  }

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
